<app-navbar></app-navbar>
<main class="d-flex">
  <app-sidebar></app-sidebar>

  <div class=" container">

    <nav class="mt-2" style="--bs-breadcrumb-divider: '->'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/proveedores">Proveedores</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span> {{ nuevoProveedor.id_proveedor ? 'Modificando Proveedor' : 'Agregando un nuevo Proveedor' }}</span>
        </li>
      </ol>
    </nav>

    <section class="container">
      <div class="container mt-5">
        <div class="d-flex justify-content-between">
          <h2 class="">
            {{ nuevoProveedor.id_proveedor ? 'Modificando Proveedor' : 'Agregando un nuevo Proveedor' }}
          </h2>
          <a routerLink="/proveedores" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Volver</a>
        </div>
  
        <!-- Datos Generales -->
        <form #myForm="ngForm" (ngSubmit)="guardarProveedor()">
          <div class="mt-4">
            <div class="d-flex">
              <div class="form-group col-2 pe-2">
                <label for="codigo">Código:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="nuevoProveedor.codProveedor" required 
                maxlength="7" style="text-transform: uppercase;"/>
              </div>
  
              <div class="form-group col-6 pe-2">
                <label for="razonSocial">Razón Social:</label>
                <input type="text" class="form-control" id="razonSocial" name="razonSocial" required
                  [(ngModel)]="nuevoProveedor.razon_social" />
              </div>
  
              <div class="form-group col-4">
                <label for="rubro">Rubro:</label>
                <select class="form-select" id="rubro" name="rubro" [(ngModel)]="nuevoProveedor.rubro.id_rubro" required>
                  <option value="">Selecciona un Rubro</option>
                  <option *ngFor="let rubro of rubros" [value]="rubro.id">
                    {{ rubro.nombre }}
                  </option>
                </select>
              </div>
            </div>
  
            <div class="d-flex">
              <div class="col-4 pe-2">
                <label for="web">Web</label>
                <input type="text" class="form-control" id="web" name="web" [(ngModel)]="nuevoProveedor.paginaWeb" required />
              </div>
              <div class="col-4 pe-2">
                <label for="emailEmpresa">Email empresa</label>
                <input type="text" class="form-control" id="emailEmpresa" name="emailEmpresa" required
                  [(ngModel)]="nuevoProveedor.email" />
              </div>
              <div class="col-4">
                <label for="logo">Logo</label>
                <input type="text" class="form-control" id="logo" name="logo" [(ngModel)]="nuevoProveedor.logo" placeholder="Campo NO obligatorio"/>
              </div>
            </div>
          </div>
  
          <!-- Dirección y Datos de Contacto-->
          <div class="d-flex">
            <div class="flex-fill">
              <h3 class="mt-4">Dirección</h3>
              <div class="border p-2 me-2">
                <div class="form-group d-flex">
                  <div class="col-8 me-2">
                    <label for="calle">Calle</label> 
                    <input type="text" class="form-control" id="calle" name="calle" required
                      [(ngModel)]="nuevoProveedor.direccion.calle" />
                  </div>
                  <div class="">
                    <label for="calle">Nro</label>
                    <input type="text" class="form-control" id="nro" name="nro" required
                      [(ngModel)]="nuevoProveedor.direccion.numCalle" />
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="pais">País:</label>
                  <select class="form-select" id="pais" name="pais" [(ngModel)]="paisElegido" (change)="traerProvincias()"
                    required>
                    <option value="-1" disabled>Seleccione un país</option>
                    <option *ngFor="let pais of paises" [ngValue]="pais.id_pais">
                      {{ pais.nombrePais }}
                    </option>
                  </select>
                </div>
  
                <div class="form-group">
                  <label for="provincia">Provincia:</label>
                  <select class="form-select" id="provincia" name="provincia"
                    [(ngModel)]="nuevoProveedor.direccion.provincia.id_provincia" required>
                    <option value="">Selecciona una provincia</option>
                    <option *ngFor="let prov of provincias" [ngValue]="prov.id_provincia">
                      {{ prov.nombreProvincia }}
                    </option>
                  </select>
                </div>
  
                <div class="form-group">
                  <label for="localidad">Ciudad:</label>
                  <input type="text" class="form-control" id="localidad" name="localidad" required
                    [(ngModel)]="nuevoProveedor.direccion.ciudad" />
                </div>
  
                <div class="form-group">
                  <label for="cp">Código Postal:</label>
                  <input type="text" class="form-control" id="cp" name="cp" [(ngModel)]="nuevoProveedor.direccion.codPostal" pattern="[0-9]*" maxlength="4" (keypress)="onKeyPressNumerico($event)" required/>
                </div>
              </div>
            </div>
  
            <div class="flex-fill">
              <h3 class="mt-4">Datos de Contacto</h3>
              <div class="border p-2">
                <div class="form-group">
                  <label for="nombreContacto">Nombre:</label>
                  <input type="text" class="form-control" id="nombreContacto" name="nombreContacto" required
                    [(ngModel)]="nuevoProveedor.contactoInfo.nombre" />
                </div>
  
                <div class="form-group">
                  <label for="apellidoContacto">Apellido:</label>
                  <input type="text" class="form-control" id="apellidoContacto" name="apellidoContacto" required
                    [(ngModel)]="nuevoProveedor.contactoInfo.apellido" />
                </div>
                <div class="form-group d-flex">
                  <div class="form-group col-6 pe-2">
                    <label for="telFijo">Teléfono:</label>
                    <input type="tel" class="form-control" id="telFijo" name="telFijo"
                      [(ngModel)]="nuevoProveedor.contactoInfo.telFijo" pattern="[0-9]*" maxlength="10" (keypress)="onKeyPressNumerico($event)" required/>
                  </div>
  
                  <div class="form-group col-6">
                    <label for="celular">Celular:</label>
                    <input type="tel" class="form-control" id="celular" name="celular"
                      [(ngModel)]="nuevoProveedor.contactoInfo.telCelular" pattern="[0-9]*" maxlength="10" (keypress)="onKeyPressNumerico($event)" required/>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="emailContacto">Email:</label>
                  <input type="email" class="form-control" id="emailContacto" name="emailContacto" required
                    [(ngModel)]="nuevoProveedor.contactoInfo.email" />
                </div>
  
                <div class="form-group">
                  <label for="rolContacto">Rol:</label>
                  <input type="text" class="form-control" id="rolContacto" name="rolContacto" required
                    [(ngModel)]="nuevoProveedor.contactoInfo.rol" />
                </div>
              </div>
            </div>
          </div>
  
          <!-- Datos Fiscales -->
          <div class="mb-3">
            <h3 class="mt-4">Datos Fiscales</h3>
            <div class="border p-2 me-2 d-flex">
              
  
              <div class="form-group flex-fill me-2">
                <label for="condicionIva">Condición IVA:</label>
                <select class="form-select" id="condicionIva" name="condicionIva"
                  [(ngModel)]="nuevoProveedor.condIva.id_condicionIva" required>
                  <option value="" disabled [selected]="!nuevoProveedor.condIva.id_condicionIva">Selecciona una condicion</option>
                  <option *ngFor="let condicion of condicionesIva" [ngValue]="condicion.id_condicionIva">
                    {{ condicion.condicion }}
                  </option>
                </select>
              </div>

              <div class="form-group  flex-fill">
                <label for="cuit">CUIT:</label>
                <input type="text" class="form-control" id="cuit" name="cuit" [(ngModel)]="nuevoProveedor.cuit" required />
              </div>
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <div id="alertaCodProveedorExistente" class="alert alert-danger col-8 mt-3 me-2" style="display: none;">
              El codProveedor ya existe. Por favor, elija otro.
            </div>
            <button class="btn btn-danger p-3 my-3 me-2" (click)="resetCampos()">
              Borrar Campos
            </button>
            <button class="btn btn-success p-3 my-3 me-3" type="submit" [disabled]="myForm.invalid">
              {{ nuevoProveedor.id_proveedor ? 'Guardar Cambios' : 'Agregar Proveedor' }}
            </button>
          </div>
        </form>
      </div>
    </section>


  </div>

  
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>