<app-navbar></app-navbar>
<section class="container d-flex justify-content-around">
  <div class="card m-5" style="width: 18rem">
    <img
      src="../assets/img/pngtruck640_640.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Proveedores</h5>
      <p class="card-text">
        Listado de Proveedores.<br />
        Agregar, Modificar o Baja de un proveedor.
      </p>
      <h6>Cantidad de Proveedores: {{ proveedoresCantidad }}</h6>
      <a routerLink="proveedores" class="btn btn-primary mt-2">Ir a Proveedores</a>
    </div>
  </div>
  <div class="card m-5" style="width: 18rem">
    <img src="../assets/img/productoimg2.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Productos</h5>
      
      <p class="card-text">
        Listado de Productos.<br />
        Agregar, Modificar o Baja de un producto.
      </p>
      <h6>Cantidad de Productos: {{ productosCantidad }}</h6>
      <a routerLink="productos" class="btn btn-primary mt-2"
        >Ir a Productos/Servicios</a
      >
    </div>
  </div>
  <div class="card m-5" style="width: 18rem">
    <img src="../assets/img/compra.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Ordenes de Compra</h5>
      <p class="card-text">
        Listado de Ordenes.<br />
        Agregar, Modificar o Baja de una orden.
      </p>
      <h6>Cantidad de Ordenes: {{ ordenesCantidad }}</h6>
      <a href="ordenCompra" class="btn btn-primary mt-2">Ir a Ordenes de compra</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
