<app-navbar></app-navbar>

<main class="d-flex">

  <app-sidebar></app-sidebar>
  <div class=" container">

    <router-outlet></router-outlet>

    <nav class="mt-2" style="--bs-breadcrumb-divider: '->'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/productos">Productos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>{{ nuevoProducto.id_producto ? "Editando Producto" : "Agregando Producto"}}</span>
        </li>
      </ol>
    </nav>

    <div class="container mt-5 col-5">

      <h2 class="mb-3">
        {{ nuevoProducto.id_producto ? "Editando Producto" : "Agregando Producto"}}
      </h2>

      <section id="nuevoProductoForm">
        <!-- Datos Generales -->
        <form #myForm="ngForm" (ngSubmit)="guardarProducto()">
          <div class="form-group">
            <label for="sku">SKU</label>
            <input type="text" class="form-control" id="sku" name="sku" [(ngModel)]="nuevoProducto.sku">
          </div>

          <div class="form-group">
            <label for="categoria">Proveedor</label>
            <select class="form-select" id="proveedor" name="proveedor"
              [(ngModel)]="nuevoProducto.proveedor.id_proveedor">
              <option value=-1 disabled>Selecciona un proveedor</option>
              <option *ngFor="let proveedor of proveedores" [value]="proveedor.id_proveedor">
                {{ proveedor.razon_social }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-select" id="categoria" name="categoria"
              [(ngModel)]="nuevoProducto.categoria.id_categoria">
              <option value=-1 disabled>Selecciona una categoria</option>
              <option *ngFor="let c of categorias" [value]="c.id_categoria">
                {{ c.nombrecategoria }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="Nombre-Producto">Nombre Producto</label>
            <input type="text" class="form-control" id="Nombre-Producto" name="Nombre-Producto"
              [(ngModel)]="nuevoProducto.nombre">
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <!-- <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="nuevoProducto.descripcion"> -->
            <textarea class="form-control" placeholder="Descripcion del producto" id="descripcion" name="descripcion"
              [(ngModel)]="nuevoProducto.descripcion" style="height: 100px"></textarea>
          </div>

          <div class="form-group">
            <label for="precio">Precio</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" id="precio" name="precio" [(ngModel)]="nuevoProducto.precio">
            </div>
          </div>

          <div class="form-group">
            <label for="imagen">Url Imagen</label>
            <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="nuevoProducto.imagen">
          </div>


          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary my-4 px-5 me-4" routerLink="/productos">Volver</button>
            <button class="btn btn-success my-4 px-5" type="submit">{{ nuevoProducto.id_producto ? "Editar Producto" :
              "Agregar Producto" }}</button>
          </div>


        </form>
      </section>
    </div>
  </div>

</main>
<app-footer></app-footer>