<app-navbar></app-navbar>
<main class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container mt-5">
        <h2 class="mb-4">Nuevo Producto</h2>
    
        <form id="nuevoProductoForm">
          <!-- Datos Generales -->
          <div class="form-group">
            <label for="sku">SKU</label>
            <input type="text" class="form-control" id="sku" name="sku" required>
          </div>
    
          <div class="form-group">
            <label for="proveedor">Proveedor</label>
            <input type="text" class="form-control" id="proveedor" name="proveedor" required>
          </div>
    
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" class="form-control" id="categoria" name="categoria" required>
          </div>
    
          <div class="form-group">
            <label for="Nombre-Producto">Nombre Producto</label>
            <input type="text" class="form-control" id="Nombre-Producto" name="Nombre-Producto">
          </div>
   
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">
          </div>
    
          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio">
          </div>
    

    
          <button type="submit" class="btn btn-success my-4">Agregar Producto</button>
        </form>
    </div>
</main>    

    <app-footer></app-footer>
    <router-outlet></router-outlet>


