<app-navbar></app-navbar>
<main class="d-flex">
  <app-sidebar></app-sidebar>

  <div class=" container">


    <router-outlet></router-outlet>

    

    <nav class="mt-2" style="--bs-breadcrumb-divider: '->'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">
          <span>Productos</span>
        </li>
      </ol>
    </nav>
    <section class="d-flex flex-column flex-grow-1 mt-3 ms-3">
      <div class="d-flex justify-content-between mx-3">
        <h2>{{ mostrarEliminados ? 'Productos Inactivos' : 'Productos Activos'}}</h2>
        <div class="d-flex align-items-stretch">
          <a routerLink="/" class="btn btn-secondary me-3" tabindex="-1" role="button" aria-disabled="true">Volver</a>
          <a routerLink="/productos/agregar" class="btn btn-success" tabindex="-1" role="button"
            aria-disabled="true">Agregar Producto</a>
        </div>
      </div>
      <div class="d-flex mt-3 px-3">
        <div class="col me-3">
          <input type="text" name="buscarNombreDescripcion" [(ngModel)]="buscarNombreDescripcion"
            placeholder="Buscar por Nombre y Descripcion" class="form-control " />
        </div>
        <div class="col me-3">
          <select name="buscarCategoria" id="buscarCategoria" [(ngModel)]="buscarCategoria" class="form-control">
            <option value='-1' disabled selected>Filtrar por categorías</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.nombrecategoria">{{
              categoria.nombrecategoria
              }}</option>
          </select>
        </div>
        <div class="col">
          <button class="btn btn-danger" (click)="borrarFiltros()">
            Borrar Filtros
          </button>
        </div>
        <button class="btn btn-primary px-5" (click)="toggleMostrarEliminados()">
          {{ mostrarEliminados ? 'Ver Activos' : 'Ver Inactivos'}}
        </button>
      </div>


      <div class="m-3 border">
        <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col" (click)="ordenarPorId()" style="cursor: pointer;">Codigo</th> -->
              <th scope="col">Imagen</th>
              <th scope="col">SKU</th>
              <th scope="col" (click)="ordenarPorNombre()" style="cursor: pointer;">Producto</th> <!--NOMBRE-->
              <th scope="col">Categoria</th>
              <th scope="col" (click)="ordenarPorPrecio()" style="cursor: pointer;">Precio</th>
              <th scope="col">Proveedor</th> <!-- RAZON SOCIAL -->
              <th scope="col">Acciones</th>

              <!-- <th scope="col" (click)="ordenarPorNombre()" style="cursor: pointer;">Nombre Producto</th> //  | buscar: buscarCategoria:'codProveedor' -->

            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let p of productos | buscarProducto: buscarNombreDescripcion:camposDeBusqueda | filtrarPorCategoria: buscarCategoria">
              <ng-container *ngIf="mostrarEliminados ? p.eliminado : !p.eliminado">
                <tr>
                  <td>
                    <img src="{{ p.imagen }}" alt="Logo" style="width: 70px; height: 70px;">
                  </td>
                  <td> {{ p.sku }}</td>
                  <td> {{ p.nombre }}</td>
                  <td> {{ p.categoria.nombrecategoria }}</td>
                  <td> {{ p.precio | currency: 'ARS ' }}</td>
                  <td> {{ p.proveedor.razon_social }}</td>
                  <td>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="abrirModal(p)"
                      data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <i class="bi bi-eye"></i>
                    </button>
                    <button type="button" class="btn btn-warning ms-1 btn-sm"
                      [routerLink]="['/productos/editar', p.id_producto]">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn ms-1 btn-sm" [class.btn-danger]="!p.eliminado"
                      [class.btn-success]="p.eliminado" (click)="estadoEliminado(p.id_producto)">
                      <i *ngIf="!p.eliminado" class="bi bi-trash-fill"></i>
                      <i *ngIf="p.eliminado" class="bi bi-arrow-up-right-square"></i>
                    </button>




                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <div *ngIf="productos.length === 0" class="alert alert-warning mx-2" role="alert">
          <h4 class="alert-heading">¡Tabla Vacia!</h4>
          <p>No hay productos cargados.</p>
          <hr>
          <p class="mb-0">Agrega nuevos productos utilizando el botón "Agregar Producto".</p>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">{{ productoSeleccionado?.nombre }}</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 border ">
                  <img src="{{ productoSeleccionado?.imagen }}" alt="LogoProducto" class="img-fluid mb-3">
                  <div class="d-flex justify-content-end">
                    <p>{{ productoSeleccionado?.proveedor.razon_social }}</p>
                    <img class="ms-2" src="{{ productoSeleccionado?.proveedor.logo }}" alt="LogoEmpresa"
                      style="width: 25px; height: 25px;">
                  </div>

                </div>
                <div class="col-md-6">
                  <h4>Info Producto</h4>
                  <div class="mt-3">
                    <p class="mb-2"><strong>Rubro:</strong> {{ productoSeleccionado?.categoria.rubro.nombreRubro
                      }}</p>
                    <p class="mb-2"><strong>Categoria:</strong> {{
                      productoSeleccionado?.categoria.nombrecategoria }}</p>
                    <p class="mb-2"><strong>Precio:</strong> {{ productoSeleccionado?.precio }}</p>
                    <p class="mb-2"><strong>SKU:</strong> {{ productoSeleccionado?.sku }}</p>
                    <p class="mb-2"><strong>Descripcion:</strong> {{ productoSeleccionado?.descripcion }}</p>
                  </div>

                  <h4 class="mt-5">Info Proveedor</h4>
                  <p class="mb-2"><strong>Codigo:</strong> {{ productoSeleccionado?.proveedor.codProveedor }}</p>
                  <p class="mb-2"><strong>Email:</strong> {{ productoSeleccionado?.proveedor.email }}</p>
                  <p class="mb-2"><strong>Pagina WEB:</strong> {{ productoSeleccionado?.proveedor.paginaWeb }}
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>



  </div>

</main>

<app-footer></app-footer>