<div class="d-flex flex-column flex-shrink-0 p-3 bg-light flex-grow-1"
  style="width: 20vw; flex-shrink: 0; height: 74vh">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Menu Opciones</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/proveedores']" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table"></use>
        </svg>
        Proveedores
      </a>
    </li>
    <li>
      <a [routerLink]="['/productos']" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid"></use>
        </svg>
        Productos
      </a>
    </li>
    <li>
      <a [routerLink]="['/ordenCompra']" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Ordenes
      </a>
    </li>
    <li>
      <a [routerLink]="['/ordenCompra/lista']" class="nav-link link-dark">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Listado de Ordenes
      </a>
    </li>
  </ul>
  
  <hr />
</div>